﻿<div ng-controller="NullableIntegerController" class="nullable-integer">

    <input type="checkbox"
           ng-model="model.value.checkbox"
           ng-change="checkboxChange()"/>

    <input type="number" 
           pattern="[0-9]*"
           min="{{model.config.minimumValue}}"
           max="{{model.config.maximumValue}}"
           step="{{model.config.stepSize}}"
           class=""
           ng-model="model.number" 
           ng-disabled="!(model.value.checkbox)"
           fix-number />

</div>