﻿<div ng-controller="NullableIntegerController" class="nullable-integer">

    <input type="checkbox"
           ng-model="model.value.checkbox"
           ng-change="checkboxChange()"/>

    <input type="number" 
           min="{{model.config.minimumValue}}"
           max="{{model.config.maximumValue}}"
           step="{{model.config.stepSize}}"
           pattern="/^-?[0-9][^\.]*$/"
           class="umb-number"
           ng-model="model.number" 
           ng-disabled="!(model.value.checkbox)"
           ng-required="model.value.checkbox"/>

</div>